@import url('refinery/application.css');
/*  
  Override default refinery application CSS below. 
  Formatting applies to all frontend.
*/

html
{
	height:100%;
}

body
{
	margin:0;
	padding:0;
	background:url('../images/bg.png');
	font-family:Arial;
	height:100%;
}

h2
{
	font-family:serif;
}

li
{
	font-size:14px;
}

a
{
	color:#ffc20e;
	text-decoration:none;
}

a:hover
{
	color:#fff;
}

p
{
	font-size:14px;
}

.yellow
{
	color:#ffc20e;
}

.banner
{
	background:url('../images/banner_bg.png') repeat-x;
	position:absolute;
	width:100%;
	height:100px;
}

.left_shadow
{
	background:url('../images/left_shadow.png') repeat-y;
	position:fixed;
	left:0;
	width:115px;
	height:100%;
	z-index:1;
}

.right_shadow
{
	background:url('../images/right_shadow.png') repeat-y;
	position:fixed;
	right:0;
	width:115px;
	height:100%;
	z-index:1;
}

#page_container
{
	position:relative;
	min-height:100%;
	background:url('../images/logo_bg.png') no-repeat top center;
}

#page
{
	width:940px;
	margin:0 auto;
	position:relative;
	z-index:1;
	padding:0;
}

#body_content
{
	position:relative;
}

#body_content_left
{
	width:564px;
}

#body
{
	background:url('../images/body_bg.png');
	width:650px;
	margin:20px 0 40px;
	display:inline-block;
}

#body .border
{
	color:#e1e1e1;
	display:inline-block;
	border:1px solid #fff;
	margin:6px;
	width:564px;
	padding:13px 36px;
	background:url('/images/blue_logo_bg.png') top right no-repeat;
}

.texas
{
	background:url('/images/texas_bg.png') no-repeat;
}

#footer
{
	position:absolute;
	bottom:0;
	background:url('../images/footer_bg.png');
	width:100%;
	height:33px;
}

/* header */
#header
{
}

#header_content
{
	padding-top:40px;
}

.logo
{
	position:absolute;
	top:5px;
	left:410px;
}

/* nav */
#menu ul
{
	margin:0;
	position:relative;
	left:25px;
	padding:0;
	list-style:none;
}

#menu li
{
	margin:0 3px;
	float:left;
	text-transform:uppercase;
	position:relative;
	font-size:10px;
	padding:0 10px;
}

#menu li#item_1
{
	width:130px;
}

#menu li#item_2
{
	width:120px;
	margin-left:120px;
}

#menu li#item_1 li.first
{
	width:100px;
}

#menu li#item_0 li.first
{
	width:108px;
}

#menu li a
{
	display:inline-block;
	padding:5px 15px;
	position:relative;
	z-index:3;
}

#menu li ul
{
	margin:3px;
	background:url('../images/body_bg.png');
	border:1px solid #fff;
	margin:0;
	left:0;
	top:-10px;
	position:absolute;
	display:none;
	z-index:2;
}

#menu li ul.active
{
	display:block !important;
}

#menu li ul .border
{
	padding:31px 3px 0;
	display:inline-block;
	border:1px solid #fff;
	margin:6px;
}

#menu li ul li
{
	margin:0 5px;
	padding:3px 10px;
}

#menu li ul li.first
{
	border-top:1px #fff solid;
	padding-top:10px;
}

#menu li ul li.last
{
	padding-bottom:10px;
}

#menu li ul li a
{
	padding:2px 0;
}

.stars1
{
	float:left;
}

.stars2
{
	float:right;
}

/* titles */

#body_content_page_title
{
	position:absolute;
	left:-9999px;
}

.title_image
{
	position:relative;
	z-index:1;
	margin-top:3px;
}

.the-andrews-story .title_image, .managements .title_image
{
	background:url('/images/our_story.png') no-repeat;
	width:260px;
	height:72px;
	padding-bottom:5px;
}

.our-portfolio .title_image, .brewers .title_image, .beer_brands .title_image
{
	background:url('/images/our_portfolio.png') no-repeat;
	width:285px;
	height:72px;
	padding:5px 0 7px 0;
	left:-5px;
}

.our-community .title_image, .events .title_image
{
	background:url('/images/our_community.png') no-repeat;
	width:466px;
	height:99px;
	margin-bottom:-5px;
	left:-8px;
}

.careers .title_image
{
	background:url('/images/careers.png') no-repeat;
	width:276px;
	height:103px;
}

.contact .title_image
{
	background:url('/images/contact.png') no-repeat;
	width:327px;
	height:65px;
	margin:10px 0 0 0;
	left:-20px;
}

/* Subnav */
ul.subnav
{
	margin:0;
	padding:6px 36px 10px;
	background:url('/images/subnav.png');
	width:564px;
	position:relative;
	left:-36px;
	height:26px;
}

.our-community ul.subnav, .events ul.subnav
{
	padding:10px 36px 4px;
}

ul.subnav li
{
	text-transform:uppercase;
	font-size:10px;
	float:left;
	list-style-image:url("/images/bullet.png");
	margin:0 10px;
}

ul.subnav li a
{
	position:relative;
	top:2px;
}

.core-values ul.subnav li a
{
	z-index:15;
}

ul.subnav li:first-child
{
	list-style:none;
}

.brewers ul.subnav li:last-child, .our-portfolio ul.subnav li:last-child, .managements ul.subnav li:last-child, 
.the-andrews-story ul.subnav li:last-child, .beer-brands ul.subnav li:last-child
{
	list-style:none;
	clear:left;
}

/* Left Nav */
.left_nav
{
	position:relative;
	top:-5px;
	float:left;
	width:274px;
	margin-right:16px;
}

.left_nav a
{
	display:inline-block;
	width:274px;
}

.left_nav a.for_brewers
{
	background:url('../images/for_brewers.png');
	height:139px;
}

.left_nav a.for_brewers:hover
{
	background-position:0 142px;
}

.left_nav a.for_retailers
{
	background:url('../images/for_retailers.png');
	height:121px;
}

.left_nav a.for_retailers:hover
{
	background-position:0 121px;
}

.left_nav a.about_beers
{
	background:url('../images/about.png');
	height:120px;
}

.left_nav a.about_beers:hover
{
	background-position:0 121px;
}

.left_nav a.whats_new
{
	background:url('../images/whats_new.png');
	height:113px;
}

.left_nav a.whats_new:hover
{
	background-position:0 113px;
}

/* core values */
.core-values #body_content_left
{
	width:180px;
}

.circle
{
	background:url('../images/core_values.png');
	position:absolute;
	left:180px;
	top:-80px;
	width:461px;
	height:461px;
}

.core-values .hover
{
	position:absolute;
	background:url("/images/core_hover.png");
	z-index:5;
	display:none;
}

.core-values #integrity_hover
{
	width:253px;
	height:94px;
	top:103px;
	left:287px;
}

.core-values #family_hover
{
	background-position:0 -94px;
	width:159px;
	height:153px;
	top:-45px;
	left:215px;
}

.core-values #trust_hover
{
	background-position:0 -247px;
	width:159px;
	height:111px;
	top:-61px;
	left:328px;
}

.core-values #accountability_hover
{
	background-position:0 -355px;
	width:159px;
	height:151px;
	top:-47px;
	left:453px;
}

.core-values #image_hover
{
	background-position:0 -506px;
	width:159px;
	height:165px;
	top:66px;
	left:513px;
}

.core-values #dedication_hover
{
	background-position:0 -669px;
	width:159px;
	height:154px;
	top:191px;
	left:456px;
}

.core-values #open_door_hover
{
	background-position:0 -821px;
	width:159px;
	height:112px;
	top:251px;
	left:334px;
}

.core-values #attitude_hover
{
	background-position:0 -933px;
	width:159px;
	height:152px;
	top:194px;
	left:217px;
}

.core-values #team_hover
{
	background-position:0 -1085px;
	width:159px;
	height:161px;
	top:74px;
	left:199px;
}

.core
{
	position:absolute;
	border:none;
	z-index:10;
}

.core map area
{
	cursor:pointer;
}

.value
{
	display:none;
}

.core-values .active, .core-values .active_hover
{
	display:block !important;
}

/* management */

ul#management
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#management li
{
	padding:9px 0;
	border-bottom:solid #fff 1px;
}

ul#management li:last-child
{
	border:none;
}

ul#management li .title
{
	color:#ffc20e;
}
#fancybox-content
{
	color:#142E5E;
	font-size:14px;
}

#fancybox-content .title
{
	position:relative;
	top:2px;
}

#fancybox-content p
{
	margin:0;
	clear:left;
}

ul#management li h2, #fancybox-content h2
{
	float:left;
	margin:0 10px 0 0;
}

ul#management li a
{
	display:inline-block;
	position:relative;
	top:3px;
}

ul#management li img
{
	float:left;
	margin-right:16px;
}

ul#management li p
{
	clear:left;
	margin:3px 0 5px;
}

ul#management li .hide
{
	display:none;
}

/* Brewers */
ul#brewers
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#brewers li
{
	border-bottom:1px #fff solid;
	padding:12px;
	height:112px;
}

ul#brewers li .images
{
	width:248px;
	height:112px;
	float:left;
}

ul#brewers li h2
{
	margin:72px 0 3px;
}

ul#brewers li img
{
	margin-right:12px;
	float:left;
}

ul#brewers li
{
	clear:left;
}

/* Events */
h2.events
{
	background:url('/images/recent.png');
	width:568px;
	height:61px;
	text-indent:-9000px;
	margin:0;
}

ul#events
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#events li
{
	border-top:solid 1px #fff;
}

ul#events li:first-child
{
	border:none;
}

ul#events li img
{
	float:right;
}

/* footer */
#footer_content
{
	color:#fff;
	width:940px;
	margin:0 auto;
	text-transform:uppercase;
}

#footer_content ul
{
	margin:8px 0 0;
	padding:0;
	list-style:none;
	float:left;
}

#footer_content ul li
{
	display:inline;
	font-size:11px;
	margin-right:20px;
}

#footer_content p.copy
{
	float:right;
	margin:14px 0 0;
	font-size:11px;
}