@import url('refinery/application.css');
/*  
  Override default refinery application CSS below. 
  Formatting applies to all frontend.
*/

html
{
	height:100%;
}

body
{
	margin:0;
	padding:0;
	background:url('../images/bg.png');
	font-family:Arial;
	height:100%;
}

h1, h2, h3
{
	font-family: "superclarendon-1","superclarendon-2",serif;
	margin-bottom:7px;
}

h2
{
	font-size:1.35em;
}

li
{
	font-size:14px;
	padding:3px 0;
}

a
{
	color:#ffc20e;
	text-decoration:none;
}

a:hover
{
	color:#fff;
}

ul
{
	list-style-image:url('/images/yellow_bullet.png');
	padding-left:15px;
	margin:5px 0;
}

p
{
	font-family:Arial;
	font-size:13.5px;
}

.yellow
{
	color:#ffc20e;
}

.banner
{
	background:url('../images/banner_bg.png') repeat-x;
	position:absolute;
	width:100%;
	height:100px;
}

.left_shadow
{
	background:url('../images/left_shadow.png') repeat-y;
	position:fixed;
	left:0;
	width:115px;
	height:100%;
	z-index:1;
}

.right_shadow
{
	background:url('../images/right_shadow.png') repeat-y;
	position:fixed;
	right:0;
	width:115px;
	height:100%;
	z-index:1;
}

#page_container
{
	position:relative;
	min-height:100%;
	background:url('../images/logo_bg.png') no-repeat top center;
	overflow:hidden;
}

#page
{
  padding:0 !important;
	width:940px;
	margin:0 auto;
	position:relative;
	z-index:1;
}

#body_content
{
	position:relative;
}

#body_content_left
{
	width:564px;
}

.our-portfolio #body_content_left
{
	float:none;
}

#body
{
	background:url('../images/body_bg.png');
	width:650px;
	margin:20px 0 50px;
	display:inline-block;
}

#body .border
{
	color:#e1e1e1;
	display:inline-block;
	border:1px solid #fff;
	margin:6px;
	min-height:449px;
	width:564px;
	padding:13px 36px;
	background:url('/images/blue_logo_bg.png') top right no-repeat;
	position:relative;
}

.texas
{
  display:inline-block;
	background:url('/images/texas_bg.png') no-repeat;
}

#footer
{
	position:absolute;
	bottom:0;
	background:url('../images/footer_bg.png');
	width:100%;
	height:32px;
	z-index:2;
}

/* header */
#header
{
}

#header_content
{
	padding-top:40px;
}

.logo
{
	position:absolute;
	top:5px;
	left:410px;
	z-index:2;
}

/* nav */
#menu ul
{
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
	margin:0;
	position:relative;
	left:25px;
	padding:0;
	letter-spacing:.5px;
	list-style:none;
}

#menu li
{
	float:left;
	text-transform:uppercase;
	position:relative;
	font-size:10px;
	padding:0 10px;
}

#menu li#item_1
{
	width:130px;
}

#menu li#item_2
{
	width:130px;
	margin-left:125px;
}

#menu li#item_1 li.first
{
	width:100px;
}

#menu li#item_0 li.first
{
	width:108px;
}

#menu li a
{
	display:inline-block;
	padding:5px 15px;
	position:relative;
	z-index:3;
	font-weight:600;
}

#menu li ul
{
	margin:3px;
	background:url('../images/body_bg.png');
	border:1px solid #fff;
	margin:0;
	left:0;
	top:-10px;
	position:absolute;
	display:none;
	z-index:2;
}

#menu li ul.active
{
	display:block !important;
}

#menu li ul .border
{
	padding:31px 3px 0;
	display:inline-block;
	border:1px solid #fff;
	margin:6px;
}

#menu li ul li
{
	margin:0 5px;
	padding:3px 10px;
}

#menu li ul li.first
{
	border-top:1px #fff solid;
	padding-top:10px;
}

#menu li ul li.last
{
	padding-bottom:10px;
}

#menu li ul li a
{
	padding:2px 0;
}

.stars1
{
	float:left;
}

.stars2
{
	float:right;
}

/* titles */

#body_content_page_title
{
	position:absolute;
	left:-9999px;
}

.title_image
{
	position:relative;
	z-index:1;
	margin-top:3px;
}

.the-andrews-story .title_image, .managements .title_image
{
	background:url('/images/our_story.png') no-repeat;
	width:260px;
	height:72px;
	padding-bottom:5px;
}

.our-portfolio .title_image, .brewers .title_image, .beer_brands .title_image
{
	background:url('/images/our_portfolio.png') no-repeat;
	width:285px;
	height:72px;
	padding:5px 0 7px 0;
	left:-5px;
}

.our-community .title_image, .donation_requests .title_image
{
	background:url('/images/our_community.png') no-repeat;
	width:466px;
	height:99px;
	margin-bottom:-5px;
	left:-8px;
}

.careers .title_image
{
	background:url('/images/careers.png') no-repeat;
	width:276px;
	height:103px;
	margin-bottom:20px;
}

.contact .title_image
{
	background:url('/images/contact.png') no-repeat;
	width:327px;
	height:65px;
	margin:10px 0 0 0;
	left:-20px;
}

.whats_new_stories .title_image
{
	background:url('/images/whats_new_title.png') no-repeat;
	width:299px;
	height:72px;
	margin:10px 0 0 0;
	left:-20px;
}

.terms .title_image
{
	background:url('/images/terms.png') no-repeat;
	width:390px;
	height:105px;
	margin:10px 0 0 0;
	left:-20px;
}

.privacy-policy .title_image
{
	background:url('/images/privacy_policy.png') no-repeat;
	width:397px;
	height:112px;
	margin:10px 0 0 0;
	left:-20px;
}

.site-map .title_image
{
	background:url('/images/sitemap.png') no-repeat;
	width:235px;
	height:88px;
	margin:10px 0 0 0;
	left:-20px;
}

.site-map a
{
	font-family:"proxima-nova-1","proxima-nova-2",sans-serif;
}

.top_right_image
{
	position:absolute;
}

.brewers .top_right_image, .beer-brands .top_right_image, .beer-brands--2 .top_right_image
{
	background:url('/images/bottle_cap.png');
	width:305px;
	height:230px;
	left:367px;
	top:-30px;
	z-index:1;
}

.contact .top_right_image
{
	background:url('/images/business_card.png');
	width:315px;
	height:198px;
	left:354px;
	top:-40px;
	z-index:1;
}

/* Home */
.welcome
{
	position:absolute;
	top:5px;
	left:10px;
}

.homeImage
{
	float:right;
	margin:-50px -55px -321px;
	position:relative;
}

.home p
{
	width:250px;
}

/* Subnav */
ul.subnav
{
	margin:0;
	padding:6px 36px 10px;
	background:url('/images/subnav.png');
	width:564px;
	position:relative;
	left:-36px;
	letter-spacing:.5px;
	height:26px;
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
	font-weight:600;
}

.our-community ul.subnav, .events ul.subnav, .donation_requests ul.subnav
{
	padding:10px 36px 4px;
}

ul.subnav li
{
	text-transform:uppercase;
	font-size:10px;
	float:left;
	padding:0 0 0 15px;
	background:url("/images/bullet.png") no-repeat 0 7px;
	list-style:none;
	margin:0 5px;
}

ul.subnav li.active a
{
  color:#fff;
}

ul.subnav li a
{
	position:relative;
	top:2px;
}

.core-values ul.subnav li a
{
	z-index:15;
}

ul.subnav li:first-child
{
	list-style:none;
	background:none;
}

.brewers ul.subnav li:last-child, .our-portfolio ul.subnav li:last-child, .managements ul.subnav li:last-child, 
.the-andrews-story ul.subnav li:last-child, .beer-brands ul.subnav li:last-child
{
  background:none;
	list-style:none;
	clear:left;
}

/* Left Nav */
.left_nav
{
	position:relative;
	top:-5px;
	float:left;
	width:274px;
	margin-right:16px;
}

.left_nav a
{
	display:inline-block;
	width:284px;
}

.left_nav a.for_brewers
{
	background:url('../images/for_brewers.png') no-repeat;
	height:139px;
}

.left_nav a.for_brewers:hover
{
	background-position:0 -142px;
}

.left_nav a.for_retailers
{
	background:url('../images/for_retailers.png') no-repeat;
	height:121px;
}

.left_nav a.for_retailers:hover
{
	background-position:0 -121px;
}

.left_nav a.about_beers
{
	background:url('../images/about.png') no-repeat;
	height:120px;
	margin:5px 0 3px;
}

.left_nav a.about_beers:hover
{
	background-position:0 -121px;
}

.left_nav a.whats_new
{
	position:relative;
	background:url('../images/whats_new.png') no-repeat;
	height:113px;
}

.left_nav a.whats_new:hover
{
	background-position:0 -113px;
}

/* core values */
.core-values #body_content_left
{
	width:180px;
}

.circle
{
	background:url('../images/core_values.png') ;
	position:absolute;
	left:180px;
	top:-80px;
	width:461px;
	height:461px;
}

.core-values h3
{
	margin:7px 0 0;
}

.core-values p
{
	margin:5px 0;
}

.core-values .hover
{
	position:absolute;
	background:url("/images/core_hover.png");
	z-index:5;
	display:none;
}

.core-values #integrity_hover
{
	width:253px;
	height:94px;
	top:103px;
	left:287px;
}

.core-values #family_hover
{
	background-position:0 -94px;
	width:159px;
	height:153px;
	top:-45px;
	left:215px;
}

.core-values #trust_hover
{
	background-position:0 -247px;
	width:159px;
	height:111px;
	top:-61px;
	left:328px;
}

.core-values #accountability_hover
{
	background-position:0 -355px;
	width:159px;
	height:151px;
	top:-47px;
	left:453px;
}

.core-values #image_hover
{
	background-position:0 -506px;
	width:159px;
	height:165px;
	top:66px;
	left:513px;
}

.core-values #dedication_hover
{
	background-position:0 -669px;
	width:159px;
	height:154px;
	top:191px;
	left:456px;
}

.core-values #open_door_hover
{
	background-position:0 -821px;
	width:159px;
	height:112px;
	top:251px;
	left:334px;
}

.core-values #attitude_hover
{
	background-position:0 -933px;
	width:159px;
	height:152px;
	top:194px;
	left:217px;
}

.core-values #team_hover
{
	background-position:0 -1085px;
	width:159px;
	height:161px;
	top:74px;
	left:199px;
}

.core
{
	position:absolute;
	border:none;
	z-index:10;
}

.core map area
{
	cursor:pointer;
}

.value
{
	display:none;
}

.core-values #body_content .active, .core-values #body_content .active_hover
{
	display:block !important;
}

/* management */

ul#management, ul#whats_new_stories
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#management li, ul#whats_new_stories li
{
	padding:9px 0;
	clear:left;
	border-bottom:solid #fff 1px;
}

ul#management li:last-child, ul#whats_new_stories li:last-child
{
	border:none;
}

ul#management li .title, ul#whats_new_stories li .title
{
	color:#ffc20e;
}
#fancybox-content
{
	color:#142E5E;
	font-size:14px;
}

.management--2 .fancy_box
{
	max-width:580px;

}

.bio
{
		border-bottom:1px solid #142E5E;
		margin:0 30px;
		padding-bottom:5px;
}

#fancybox-content div
{
		overflow:visible !important;
}

.fancy_box
{
	padding:50px 37px 50px 57px;
}

#fancybox-content .title
{
	position:relative;
	top:18px;
}

.management--2 #fancybox-content p
{
	clear:left;
	padding-bottom:7px;
}

ul#management li h2, ul#whats_new_stories li h2
{
	float:left;
	margin:0 10px 0 0px;
}

.management--2 #fancybox-content h2
{
	float:left;
	margin:15px 10px 0 30px;
}

ul#management li a, ul#whats_new_stories li a.whats-new-link
{
	display:inline-block;
	position:relative;
	top:6px;
	padding-bottom:9px;
}

ul#management li img, ul#whats_new_stories li img
{
	float:left;
	margin-right:16px;
}

ul#management li p
{
	margin:3px 0 5px;
}

ul#management li .hide, ul#whats_new_stories .hide
{
	display:none;
}

/* Distribution */
.distribution-area #body_content p
{
	width:270px;
}

.distribution-area h2
{
	font-size:30px;
	margin:15px 0 3px 0;
}

.texas_map
{
	position:absolute;
	left:290px;
	top:0;
}

.print_map
{
	position:absolute;
	left:390px;
	top:280px;
	z-index:2;
}

/* Brewers */
ul#brewers
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#brewers li
{
	border-bottom:1px #fff solid;
	padding:12px 0;
	height:112px;
	clear:left;
}

ul#brewers li:last-child
{
	border:none;
}

ul#brewers li .images
{
	width:248px;
	height:112px;
	float:left;
}

ul#brewers li h2
{
	margin:42px 0 3px;
}

ul#brewers li img
{
	margin-right:12px;
	float:left;
}

/* Portfolio */
.portfolio_image
{
	float:right;
	position:relative;
	top:-20px;
	margin-top:-80px;
	margin-left:16px;
}

/* destination beer */
.visit
{
	position:absolute;
	z-index:2;
	top:340px;
	left:280px;
	width:336px;
	height:65px;
	background:url('/images/visit.png');
}

.visit:hover
{
  background-position:0 79px;
}

.destination-beer .destination_beer
{
	position:relative;
	background:url('/images/destination_beer.png');
	width:355px;
	height:328px;
	float:right;
	top:-110px;
	margin-left:-35px;
	margin-bottom:-23px;
	right:-45px;
	z-index:1;
}

/* Beer Brands */

.beer-brands--2 ul.brands,.beer-brands ul.brands
{
	list-style:none;
	margin:0;
	padding:0 0 15px 0;
	border-bottom: 1px #fff solid;
	clear:left;
	display:inline-block;
	width:564px;
}

.beer-brands--2 h2,.beer-brands h2
{
	margin-top:15px;
}

.beer-brands--2 ul.brands li, .beer-brands ul.brands li
{
	float:left;
}

.learn
{
	position:absolute;
	bottom:40px;
	display:inline-block;
	height:94px;
	width:400px;
	background:url('/images/learn_more.png');
	  background-position:0 -93px;
}

.learn:hover
{
  background-position:0 0px;
}

.image_block
{
	float:right;
	height:40px;
	width:230px;
}

.small_destination
{
	right:-70px;
	float:right;
	bottom:-00px;
	margin-bottom:-20px;
	position:relative;
}
.brand_type
{
	position:relative;
}

.show
{
	position:absolute;
	left:356px;
	top:30px;
	display:inline-block;
	width:120px;
	height:15px;
	background:url('/images/expand.png');
}

.expand
{
	background-position:0 0px;
}

.expand:hover
{
	background-position:0 -14px;
}

.collapse
{
	background-position:0 -28px;
}

.collapse:hover
{
	background-position:0 -44px;
}

.imports, .domestics, .non-alcoholic, .specialty
{
	display:none;
}

/* Events */
h2.events
{
	background:url('/images/recent.png');
	width:568px;
	height:61px;
	text-indent:-9000px;
	margin:0;
}

ul#events
{
	margin:0;
	padding:0;
	list-style:none;
}

ul#events li
{
	border-top:solid 1px #fff;
	padding:15px 0;
	clear:left;
	display:inline-block;
	width:564px;
}

ul#events li h2
{
	margin:0 0 5px;
}

ul#events li p
{
  width:330px;
	margin-top:5px;
}

ul#events li:first-child
{
	border:none;
}

ul#events li img
{
	margin-left:20px;
	float:right;
}

/* Donation Request */
textarea
{
  font-family:Arial;
  font-size:12px;
}

table td
{
	vertical-align:top;
	font-size:13.5px;
}

table#donation td.input
{
	width:350px;
}

table#donation label
{
	width:120px;
}

table#donation input, table#donation textarea
{
	width:350px;
}

input.submit
{
	width:150px !important;
	cursor:pointer;
}

td.right
{
	text-align:right;
}

table#donation td
{
	padding:5px;
}

/* Careers */
.iframe
{
	border:none;
}

/* Contact */
.contact p
{
  text-align:right;
  padding-right:20px;
}

p.indent
{
	padding-left:20px;
}

.inquiries form input
{
	width:150px;
	margin-right:20px;
}

.inquiries form textarea
{
	clear:left;
	margin-right:200px;
}

input.error, textarea.error
{
	background:#ffc20e;
	color:#000;
	border:#ffc20e 1px solid;
}

label.error
{
	float:none !important;
	font-size:11px;
	color:#ffc20e;
}

.inquiries form label
{
	width:115px;
}

table#inquiries
{
	font-size:14px;
	width:564px;
}

table#inquiries td
{
	padding:7px 0;
}

.sent
{
	background:#ffc20e;
	color:#000;
	padding:5px;
	border:2px solid #b38d1d;
	display:none;
	margin-right:20px;
}

/* Video Slider */
div#modalBox
{
	top:0 !important;
}

.modal_titles, .brewer_titles
{
	background:#000;
	width:170px;
	position:absolute;
	z-index:20;
	right:0;
}

.modal_titles ul, .brewer_titles ul
{
	padding:107px 0 2000px;
	margin:0;
	list-style:none;
	position:absolute;
	background:#000;
}

.modal_titles ul li a, .brewer_titles ul li a
{
	display:inline-block;
	width:140px;
	padding:8px 15px;
	max-height:49px;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
}

.modal_image
{
	padding:50px 0 0 0;
	position:relative;
}

a.close
{
	position:relative;
	right:195px;
	float:right;
	top:75px;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
}

a.close img
{
	position:relative;
	top:3px;
}

.modal_titles ul li a.active, .brewer_titles ul li a.active
{
	color:#000;
	background:url('/images/active.png');
}

.image_slider
{
  left:0;
  top:110px;
	position:absolute;
}

.video_slide
{
	color:#fff;
	position:absolute;
	top:0px;
	width:525px;
	min-height:296px;
}

.video_slide.active
{
	z-index:2;
}

.video_slide .text
{
	padding-top:30px;
	display:none;
}

.video_slide .text h3
{
	margin:4px 0;
}

.video_slide .text p
{
	text-align:left;
	margin:7px 0;
}

a.portal
{
	display:inline-block;
	border-top:#ffc20e solid 1px;
	border-bottom:#ffc20e solid 1px;
	color:#ffc20e;
	width:525px;
	text-transform:uppercase;
	text-align:right;
	position:relative;
	padding:3px 0;
	font-size:11px;
	z-index:2;
	top:306px;
}

/* Fake Modal Box */
.overlay
{
	display:block;
	background:url("/images/overlay.png");
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	display:none;
}

.invisible
{
	display:block;
	background:url("/images/none.png");
	height:296px;
	width:3000px;
	position:absolute;
	z-index:1;
}

.for_videos
{
	position:absolute;
	top:0;
	left:0;
	z-index:1001;
	display:none;
	overflow:hidden;
	min-height:700px;
	height:100%;
}

.container
{
	margin:0 auto;
	position:relative;
	width:720px;
	height:100%;
}

/* Whats New */
.whats_new_thumb
{
	position:relative;
	top:7px;
	left:7px;
}

.whats_new_title
{
	color:#fff;
	font-size:13px;
	display:inline-block;
	width:130px;
	position:absolute;
	left:130px;
	top:70px;
}

.whats_new_stories .fancy_box
{
	max-width:700px;
}

.whats_new_stories .fancy_box a:hover
{
    color:#142E5E;
}

.whats_new_stories .thumb
{
	width:112px;
	margin-right:16px;
	height:112px;
	float:left;
}

.whats_new_stories .thumb img
{
	border:1px #fff solid;
}

ul#whats_new_stories li
{
	min-height:112px;
}

.whats_new_stories #fancybox-content .left img
{
  float:left;
}

.whats_new_stories #fancybox-content img
{
	margin:0 16px 16px 0;
}

.print
{
  color:#142E5E;
  text-transform:uppercase;
  position:absolute;
  top:25px;
  right:205px;
  font-size:10px;
  display:block !important;
}

.print:hover
{
    color:#142E5E;
}

/* Privacy and Terms */

.privacy-policy h1, .privacy-policy h2, .privacy-policy h3, .terms h1, .terms h2, .terms h3
{
	color:#ffc20e;
}


/* footer */
#footer_content
{
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
  letter-spacing:.5px;
	color:#fff;
	width:940px;
	margin:0 auto;
	text-transform:uppercase;
}

#footer_content ul
{
	margin:8px 0 0;
	padding:0;
	list-style:none;
	float:left;
}

#footer_content ul li
{
	display:inline;
	font-size:11px;
	margin-right:20px;
}

#footer_content p.copy
{
	float:right;
	margin:14px 0 0;
	font-size:11px;
}