<div id='footer_content'>
<ul>
	<li><a href="/contact">Contact</a></li>
	<li><a href="/privacy-policy">Privacy</a></li>
	<li><a href="/terms">Terms</a></li>
	<li><a href="/site-map">Site Map</a></li>
</ul>	
	
  <p class="copy">
    &copy; <b><%= Time.now.year -%></b> <%= RefinerySetting.get(:site_name) %> company. All Rights Reserved.
  </p>
</div>
