<div id='header_content'>
<img class="stars2" src="/images/stars.png" />
<img class="stars1" src="/images/stars.png" />
  <%= render :partial => "/shared/menu",
             :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             } -%>
</div>
