<% if @page.parent %>
<ul class="subnav">
	<% @page.parent.children.each do |child| %>
		<li <% if @page.title == child.title %> class="active"<% end %>><%= link_to child.title, child.url -%></li>
	<% end %>
</ul>
<% end %>
