<% if @page.parent %>
<ul class="subnav">
	<% @page.parent.children.each do |child| %>
		<li><%= link_to child.title, child.url -%></li>
	<% end %>
</ul>
<% end %>

<video width="525" height="296" controls poster="/images/WorkAtAndrews.jpg">
	<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/10/57/31/607/WorkingforAndrews-Aars-H.264.m4v"  type="video/mp4" />
	<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/10/57/31/607/WorkingforAndrews.ogg"  type="video/ogg" />
	<object width="525" height="296" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf">
		<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf" />
		<param name="flashvars" value="controlbar=over&amp;image=/images/WorkAtAndrews.jpg&amp;file=https://s3.amazonaws.com/andrews_distributing/2011/01/22/10/57/31/607/WorkingforAndrews-Aars-H.264.m4v" />
	</object>
</video>

<%= render :partial => "/shared/content_page" %>

<iframe class="iframe" src="http://www.applicantstack.com/client/andrewsdistributing/x/openings" style="width:564px; min-height:550px">