<%= render :partial => "/shared/subnav" %>

<div class="destination_beer"></div>

<a target="_blank" href="http://www.destinationbeer.com"><div class="visit"></div></a>
<%= render :partial => "/shared/content_page" %>