<%= render :partial => "/shared/subnav" %>

<img class="texas_map" src="/images/texas.png" />
<p class="print_map"><a  href="/images/AndrewsDistributionMap.pdf">printable map</a></p>

<%= render :partial => "/shared/content_page" %>