<% if @page.parent %>
<ul class="subnav">
	<% @page.parent.children.each do |child| %>
		<li><%= link_to child.title, child.url -%></li>
	<% end %>
</ul>
<% end %>

<p>“Our mission is simply to be the nation’s leading beverage brand builder measured in valuable growth. Brand building is what we do.”<br />
- Barry Andrews, CEO</p>

<video width="525" height="296" controls poster="/images/CompanyHistory.jpg">
	<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory_Aars.m4v"  type="video/mp4" />
	<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory.ogg"  type="video/ogg" />
	<object width="525" height="296" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf">
		<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf" />
		<param name="flashvars" value="controlbar=over&amp;image=/images/CompanyHistory.jpg&amp;file=https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory_Aars.m4v" />
	</object>
</video>

<%= render :partial => "/shared/content_page" %>


